@-moz-document regexp("^(?!chrome:).*") {
    @-moz-document domain(monkeytype.com) {
        body {
            background-color: rgba(15, 15, 20, 0.4) !important; /* Darker base color */
        }
    }

    #preferences-body {
        font-family: sans-serif !important;

        groupbox:not(#sineInstallationGroup:popover-open) {
            /*   background: var(--zen-colors-tertiary) !important; */
            background: var(--zen-colors-border-contrast) !important;
            border-radius: 12px !important;
            margin: 12px 0 !important;
            border: none;
        }

        groupbox::before {
            display: none !important;
        }

        .navigation {
            background: rgba(0, 0, 0, .1) !important ;
        }

        #searchInput {
            width: 100% !important;
        }

        .category[selected="true"], .category[selected] {
            background: var(--zen-colors-border-contrast) !important
        }
    }

    #full {
        .category[selected="true"], .category[selected] {
            background-color: var(--zen-colors-border-contrast) !important;
            border-radius: var(--border-radius-medium) !important;
        }

        addon-page-header {
            .sticky-container, .sticky-container > div {
                background: none !important;
            }
        }

        #main {
            .card {
                background: var(--zen-colors-border-contrast) !important;
                box-shadow: none !important;
                border: none !important;
            }
        }
    }

    :root {
        --zen-colors-tertiary: transparent !important;
        --zen-settings-secondary-background: transparent !important;
    }

    @-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
        body,
        .App {
            background-color: #00000070 !important;
        }

        .top-sites-list,
        .personalizeButtonWrapper {
            opacity: 0 !important;
            transition: opacity 0.3s ease-in-out;

            &:hover {
                opacity: 1 !important;
            }
        }

        .App > div:nth-child(2),
        .wallpaper {
            display: none !important;
        }

        #sineInstallationGroup {
            width: 60vw;
            padding: 30px;
        }

        #sineInstallationList {
            grid-template-columns: repeat(auto-fit, 290px) !important;
            gap: 12px !important;
            height: auto !important;
            place-content: center !important;
        }
    }

    @-moz-document url(addons.mozilla.org) {
        /* transparency */
        html,
        body,
        nav,
        header {
            background-color: transparent !important;
            background: none !important;
            border: none !important;
            box-shadow: none !important;
        }

        /* darkreader */
        :root {
            --darkreader-background-ffffff: transparent !important;
        }

        /* no footer */
        footer {
            display: none !important;
        }

        body {
            font-family: sans-serif !important;
        }

        groupbox:not(#sineInstallationGroup:popover-open) {
            /*   background: var(--zen-colors-tertiary) !important; */
            background: var(--zen-colors-border-contrast) !important;
            border-radius: 12px !important;
            margin: 12px 0 !important;
            border: none;
        }

        groupbox::before {
            display: none !important;
        }
    }

    @-moz-document url(about:config) {
        tr,
        table {
            background-color: transparent !important;
            border: none !important;
        }
        tr {
            outline: solid 1px #88888822 !important;
        }

        body {
            font-family: sans-serif !important;
        }

        groupbox:not(#sineInstallationGroup:popover-open) {
            /*   background: var(--zen-colors-tertiary) !important; */
            background: var(--zen-colors-border-contrast) !important;
            border-radius: 12px !important;
            margin: 12px 0 !important;
            border: none;
        }

        groupbox::before {
            display: none !important;
        }
    }
}
