browser {
  will-change: transform;
  backface-visibility: hidden;
}

/* main ui tint */
#zen-main-app-wrapper {
  background: var(--nebula-ui-tint) !important;
}

/* Website background tint */
browser {
  /*background: var(--nebula-website-tint) !important;*/
}

/* Hide identity label for Bonjourr */
#identity-icon-label[value="Extension (Bonjourr · Minimalist Startpage)"] {
  display: none !important;
}

:root {
  --attention-dot-color: transparent !important; /* remove attention dot */
  --zen-themed-toolbar-bg-transparent: transparent !important; /* fix for transparency */
}

/*Better Essentials look*/
.zen-essentials-container {
    .tabbrowser-tab:is([selected],[visuallyselected]) .tab-background {
      &::before {
        opacity: 0.6;
      }
    }
}

/* Increased blur for Menus */
@media (-moz-pref("arc-menu-blur")) {
  .menupopup-arrowscrollbox {
    box-shadow: none !important;
    background-color: var(--arc-menu-blur, rgb(0 0 0 / 0%)) !important;
  }
}

/* Config for blur rendering */
@media (-moz-pref("arc.force-blur-rendering")) {
  browser {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* --------------------- TABS: NO SHADOW --------------------- */
hbox.browserSidebarContainer,
#zen-tabbox-wrapper {
  @media (-moz-pref("arc-tabs-no-shadow")) {
    box-shadow: none !important;
  }
}

/* Remove box shadow */
@media (-moz-pref("no-gaps.remove-box-shadow", true)) {
  .browserSidebarContainer {
    box-shadow: none !important;
  }

  #tabbrowser-tabpanels[zen-split-view="true"]
    .browserSidebarContainer.deck-selected {
    box-shadow: none !important;
  }
}

/* ------------------- FLOATING STATUSBAR ------------------- */
@media (-moz-pref("arc-disable-floating-statusbar")) {
  #statuspanel {
    display: none !important;
  }
}
@media not (-moz-pref("arc-disable-floating-statusbar")) {
  #statuspanel {
    margin: 10px !important;
  }

  #statuspanel-label {
    border-radius: var(--arc-border-radius, 12px) !important;
    padding: 3px 10px !important;
    border: 1px solid var(--zen-colors-border) !important;
    background: rgb(0 0 0 / 75%) !important;
  }
}

/* Transparent glance styling */
@media (-moz-pref("arc-transparent-glance")) {
  .zen-glance-background > vbox {
    mask-image: linear-gradient(
      to right,
      black 0%,
      black 4%,
      transparent 7%,
      transparent 93.5%,
      black 96%,
      black 100%
    );
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }

  .zen-glance-overlay > vbox {
    background-color: light-dark(#fff7, #0007) !important;
    margin-top: 0.5% !important;
    margin-bottom: 0.5% !important;
    height: 98% !important;
    border-radius: 1.5em !important;
  }
}

/* -------Removes scrollbar in tab panel and also adds fade effect -------- */
@media not (-moz-pref("arc-urlbar-fade-in")) {
    #zen-tabs-wrapper {
        mask-image: linear-gradient(to bottom, transparent, black 20px, black calc(100% - 20px), transparent 100%) !important;
    }
}
#zen-tabs-wrapper {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  overflow-y: auto !important;
}

#zen-tabs-wrapper::-webkit-scrollbar {
  display: none !important;
}

/* === BETTER CUSTOMIZE TOOLBAR === */
#customization-container {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  height: 80%;
  width: 70%;
  border-radius: 12px;
  padding: 10px;
  background: light-dark(rgb(255 255 255 / 32%), rgb(0 0 0 / 30%)) !important;
}

@media (-moz-pref("zen.tabs.vertical.right-side")) {
  #customization-container {
    left: 10px;
  }

  #customization-container #customization-content-container {
    flex-direction: row-reverse;
  }
}

#customization-container #customization-panel-container {
  padding: 10px !important;
}

#customization-container #customization-panelWrapper {
  --panel-arrow-offset: 0px;
}

#customization-container .panel-arrowbox {
  display: none !important;
}

#customization-container .panel-arrowcontent {
  height: 100% !important;
  background: light-dark(rgb(255 255 255 / 80%), rgb(0 0 0 / 40%)) !important;
  border: none !important;
  margin: 0 !important;
  border-radius: 8px;
}

/* Check when the width is low */
@media (width <= 700px) {
  /* Adjust the threshold as needed */
  #customization-container {
    border: 2px solid red; /* Temporary visual indicator */
  }
}
