/* Windows 10 Transparency Fix */
#sidebar-box,
#bookmarksPanel.sidebar-panel,
#sidebar-header,
#history-panel,
:root,
#header {
  border: none !important;
  box-shadow: none !important;
}

/* Radius */
#titlebar::before {
  border-radius: var(--arc-border-radius, 12px) !important;
}

#titlebar {
  border-radius: var(--arc-border-radius, 12px) !important;
}

.zen-toolbar-background {
  &,
  &::before,
  &::after {
    border-radius: var(--arc-border-radius, 12px) !important;
  }
}

/* -------------------------- COMPACT SIDEBAR -------------------------- */

/* Fix for twilight acrylic */
#navigator-toolbox:not([animate="true"]) #titlebar {
  position: relative;
}

#navigator-toolbox:not([animate="true"]) #titlebar::before {
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: -1;
  border-radius: var(--arc-border-radius, 12px) !important;
  background: transparent !important;
}

#navigator-toolbox:not([animate="true"]) #titlebar::after {
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: 0;
  background: transparent !important;
  opacity: var(--zen-grainy-background-opacity, 0);
  mix-blend-mode: overlay;
}

/* Blur (Only for Solid BG Websites) */
#zen-toolbar-background {
  backdrop-filter: none !important;

  &::after,
  &::before {
    background: transparent !important;
  }
}

@media (-moz-pref("zen.view.compact.hide-tabbar")) {
  :root[zen-compact-mode="true"] {
    #navigator-toolbox:not([animate]) {
      #zen-toolbar-background {
        background: var(
          --arc-compact-sidebar-bg,
          light-dark(rgb(255 255 255 / 50%), rgb(0 0 0 / 50%))
        ) !important;
      }

      #titlebar {
        border-radius: var(--arc-border-radius, 12px) !important;
        backdrop-filter: blur(var(--arc-compact-sidebar-blur, 25px))
          contrast(var(--arc-compact-sidebar-contrast, 1))
          saturate(var(--arc-compact-sidebar-saturate, 1)) !important;
        outline: none !important;
      }
    }
  }
}

/* -------------------- SINGLE TOOLBAR -------------------- */

@media (-moz-pref("zen.view.compact.hide-tabbar")) {
  :root[zen-single-toolbar="true"][zen-compact-mode="true"] #titlebar {
    top: calc(var(--zen-element-separation) / 1) !important;
    left: calc(var(--zen-element-separation) / 1) !important;
    width: calc(var(--arc-compact-sidebar-width, 22em)) !important;
    height: calc(100% - (var(--zen-element-separation) * 2)) !important;
  }

  :root[zen-single-toolbar="true"][zen-compact-mode="true"] #browser::after {
    top: calc(var(--zen-element-separation) / 0.69) !important;
    left: calc(var(--zen-element-separation) / 0.67) !important;
    width: calc(var(--arc-compact-sidebar-width, 22em)) !important;
    height: calc(100% - (var(--zen-element-separation) * 3)) !important;
  }

  :root[zen-single-toolbar="true"][zen-compact-mode="true"][zen-right-side="true"]
    #titlebar {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 1) !important;
  }

  :root[zen-single-toolbar="true"][zen-compact-mode="true"][zen-right-side="true"]
    #browser::after {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 0.67) !important;
  }
}

@media (-moz-pref("zen.view.compact.hide-toolbar")) {
  :root[zen-single-toolbar="true"][zen-compact-mode="true"] #titlebar {
    top: calc(var(--zen-element-separation) / 1) !important;
    left: calc(var(--zen-element-separation) / 1) !important;
    width: calc(var(--arc-compact-sidebar-width, 22em)) !important;
    height: calc(100% - (var(--zen-element-separation) * 2)) !important;
  }

  :root[zen-single-toolbar="true"][zen-compact-mode="true"] #browser::after {
    top: calc(var(--zen-element-separation) / 0.685) !important;
    left: calc(var(--zen-element-separation) / 0.65) !important;
    width: calc(var(--nebula-sidebar-width)) !important;
    height: calc(100% - (var(--zen-element-separation) * 2.9)) !important;
  }

  :root[zen-single-toolbar="true"][zen-compact-mode="true"][zen-right-side="true"]
    #titlebar {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 0.9) !important;
  }

  :root[zen-single-toolbar="true"][zen-compact-mode="true"][zen-right-side="true"]
    #browser::after {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 0.67) !important;
  }
}

@media (-moz-pref("zen.view.compact.hide-tabbar")) and (-moz-pref("zen.view.compact.hide-toolbar")) {
  :root[zen-single-toolbar="true"][zen-compact-mode="true"] #titlebar {
    top: calc(var(--zen-element-separation) / 1) !important;
    left: calc(var(--zen-element-separation) / 1) !important;
    width: calc(var(--arc-compact-sidebar-width, 22em)) !important;
    height: calc(100% - (var(--zen-element-separation) * 2)) !important;
  }

  :root[zen-single-toolbar="true"][zen-compact-mode="true"] #browser::after {
    top: calc(var(--zen-element-separation) / 0.69) !important;
    left: calc(var(--zen-element-separation) / 0.67) !important;
    width: calc(var(--arc-compact-sidebar-width, 22em)) !important;
    height: calc(100% - (var(--zen-element-separation) * 3)) !important;
  }
}

/* -------------------- MULTI TOOLBAR -------------------- */

@media (-moz-pref("zen.view.compact.hide-tabbar")) {
  :root[zen-sidebar-expanded="true"]:not(
      [zen-single-toolbar="true"]
    )[zen-compact-mode="true"]
    #titlebar {
    top: calc(var(--zen-element-separation) / 1) !important;
    left: calc(var(--zen-element-separation) / 1) !important;
    width: calc(var(--arc-compact-sidebar-width, 22em)) !important;
    height: calc(100% - (var(--zen-element-separation) * 2)) !important;
  }

  :root[zen-sidebar-expanded="true"]:not(
      [zen-single-toolbar="true"]
    )[zen-compact-mode="true"]
    #browser::after {
    top: calc(var(--zen-element-separation) / 0.2) !important;
    left: calc(var(--zen-element-separation) / 0.67) !important;
    width: calc(var(--arc-compact-sidebar-width, 22em)) !important;
    height: calc(100% - (var(--zen-element-separation) * 7)) !important;
  }

  :root[zen-sidebar-expanded="true"]:not(
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #titlebar {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 1) !important;
  }

  :root[zen-sidebar-expanded="true"]:not(
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #browser::after {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 0.67) !important;
  }
}

@media (-moz-pref("zen.view.compact.hide-toolbar")) {
  :root[zen-sidebar-expanded="true"]:not(
      [zen-single-toolbar="true"]
    )[zen-compact-mode="true"]
    #titlebar {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;

    &::before {
      backdrop-filter: none !important;
    }
  }

  :root[zen-sidebar-expanded="true"]:not(
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #titlebar {
    left: auto !important;
    right: unset !important;
  }

  :root[zen-sidebar-expanded="true"]:not(
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #browser::after {
    left: auto !important;
    right: unset !important;
  }
}

@media (-moz-pref("zen.view.compact.hide-tabbar")) and (-moz-pref("zen.view.compact.hide-toolbar")) {
  :root[zen-sidebar-expanded="true"]:not(
      [zen-single-toolbar="true"]
    )[zen-compact-mode="true"]
    #titlebar {
    top: calc(var(--zen-element-separation) / 1) !important;
    left: calc(var(--zen-element-separation) / 1) !important;
    width: calc(var(--arc-compact-sidebar-width, 22em)) !important;
    height: calc(100% - (var(--zen-element-separation) * 3)) !important;
    /* Re-apply blur & visuals */
    background: light-dark(rgb(255 255 255 / 40%), rgb(0 0 0 / 40%)) !important;
    backdrop-filter: blur(32px) saturate(140%) !important;
    padding: 8px !important;
    border-radius: var(--arc-border-radius, 12px) !important;
    scale: 1 !important;
  }

  :root[zen-sidebar-expanded="true"]:not(
      [zen-single-toolbar="true"]
    )[zen-compact-mode="true"]
    #browser::after {
    top: calc(var(--zen-element-separation) / 0.69) !important;
    left: calc(var(--zen-element-separation) / 0.67) !important;
    width: calc(var(--arc-compact-sidebar-width, 22em)) !important;
    height: calc(100% - (var(--zen-element-separation) * 3)) !important;
  }

  :root[zen-sidebar-expanded="true"]:not(
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #titlebar {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 1) !important;
  }

  :root[zen-sidebar-expanded="true"]:not(
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #browser::after {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 0.67) !important;
  }
}

/* -------------------- COLLAPSED TOOLBAR -------------------- */

@media (-moz-pref("zen.view.compact.hide-tabbar")) {
  :root:not(
      [zen-sidebar-expanded="true"],
      [zen-single-toolbar="true"]
    )[zen-compact-mode="true"]
    #titlebar {
    top: calc(var(--zen-element-separation) / 1) !important;
    left: calc(var(--zen-element-separation) / 1) !important;
    height: calc(100% - (var(--zen-element-separation) * 2)) !important;
  }

  :root:not(
      [zen-sidebar-expanded="true"],
      [zen-single-toolbar="true"]
    )[zen-compact-mode="true"]
    #browser::after {
    top: calc(var(--zen-element-separation) / 0.2) !important;
    left: calc(var(--zen-element-separation) / 0.67) !important;
    width: 65px !important;
    height: calc(100% - (var(--zen-element-separation) * 6.9)) !important;
  }

  :root:not(
      [zen-sidebar-expanded="true"],
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #titlebar {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 1) !important;
  }

  :root:not(
      [zen-sidebar-expanded="true"],
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #browser::after {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 1) !important;
  }
}

@media (-moz-pref("zen.view.compact.hide-toolbar")) {
  :root:not(
      [zen-sidebar-expanded="true"],
      [zen-single-toolbar="true"]
    )[zen-compact-mode="true"]
    #titlebar {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;

    &::before {
      backdrop-filter: none !important;
    }
  }

  :root:not(
      [zen-sidebar-expanded="true"],
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #titlebar {
    left: auto !important;
    right: unset !important;
  }

  :root:not(
      [zen-sidebar-expanded="true"],
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #browser::after {
    left: auto !important;
    right: unset !important;
  }
}

@media (-moz-pref("zen.view.compact.hide-tabbar")) and (-moz-pref("zen.view.compact.hide-toolbar")) {
  :root:not(
      [zen-sidebar-expanded="true"],
      [zen-single-toolbar="true"]
    )[zen-compact-mode="true"]
    #titlebar {
    top: calc(var(--zen-element-separation) / 1) !important;
    left: calc(var(--zen-element-separation) / 1) !important;
    width: calc(var(--arc-compact-sidebar-width, 22em)) !important;
    height: calc(100% - (var(--zen-element-separation) * 3)) !important;
    /* Re-apply blur & visuals */
    background: light-dark(rgb(255 255 255 / 30%), rgb(0 0 0 / 30%)) !important;
    backdrop-filter: blur(30px) saturate(145%) !important;
    padding: 8px !important;
    border-radius: var(--arc-border-radius, 12px) !important;
    scale: 1 !important;
  }

  :root:not(
      [zen-sidebar-expanded="true"],
      [zen-single-toolbar="true"]
    )[zen-compact-mode="true"]
    #browser::after {
    left: calc(var(--zen-element-separation) / 0.67) !important;
    width: 65px !important;
    height: calc(100% - (var(--zen-element-separation) * 3)) !important;
  }

  :root:not(
      [zen-sidebar-expanded="true"],
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #titlebar {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 1) !important;
  }

  :root:not(
      [zen-sidebar-expanded="true"],
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #browser::after {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 1) !important;
  }
}

/* ------------------------- GENERAL SIDEBAR -------------------------- */

/* hide scrollbar */
scrollbox {
  scrollbar-width: none !important;
}

/* Hide the overflow background gradient */
.workspace-arrowscrollbox[overflowing] {
  --zen-scrollbar-overflow-background: transparent !important;

  background: transparent !important;
}

/* Also remove any visual overlay pseudo-elements */
.workspace-arrowscrollbox[overflowing]::before,
.workspace-arrowscrollbox[overflowing]::after {
  content: none !important;
  display: none !important;
}

/* -------------------------- COMPACT TOPBAR --------------------------- */
/*
  @media (-moz-pref("zen.view.compact.hide-toolbar")) {

    :root:not([zen-single-toolbar="true"]) :root[zen-compact-mode="true"] {

       Disable backdrop-filter when urlbar is open 
      #browser:has(#urlbar[open]) #nav-bar {
        backdrop-filter: none !important;
      }
    }

    :root[zen-compact-mode="true"]:not([zen-single-toolbar="true"]) {
      #zen-appcontent-navbar-wrapper {
        & #zen-appcontent-navbar-container {
          display: block !important;
          height: fit-content !important;
          max-height: fit-content !important;
          background: transparent !important;
          box-shadow: none !important;

          & #nav-bar {
            position: relative !important;
            width: calc(100% - 28px) !important;
            margin: 14px !important;
            border-radius: var(--arc-border-radius, 12px) !important;
            background: light-dark(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4)) !important;
            backdrop-filter: blur(32px) saturate(140%) !important;
            overflow: hidden;
          }
        }
      }
    }

    :root:not([zen-single-toolbar="true"]) :root[zen-compact-mode="true"] #browser::before {
      display: flex !important;
      position: absolute !important;
      z-index: 0 !important;
      content: "" !important;
      visibility: visible !important;
      opacity: 0;
      width: calc(100% - 27px) !important;
      height: 0px !important;
      bottom: auto !important;
      right: auto !important;
      margin-top: calc(var(--zen-element-separation) + 4px) !important;
      margin-left: calc(var(--zen-element-separation) + 3px) !important;
      margin-right: calc(var(--zen-element-separation) * 1.5) !important;
      border-radius: var(--arc-border-radius, 12px) !important;
      background-color: light-dark(rgba(200, 200, 200, 1), rgba(40, 40, 40, 1)) !important;
      transition: height 0.1s ease, opacity 0.5s ease, top 0s ease;
    }

    body:has([zen-compact-mode="true"] #zen-appcontent-navbar-wrapper[zen-has-hover="true"], [zen-compact-mode="true"] #zen-appcontent-navbar-wrapper[zen-user-show=""]) #browser::before {
      opacity: 1;
      top: 0% !important;
      height: 40px !important;
    }

    #browser {
      display: flex !important;
      justify-content: center !important;
    }

    :root[zen-compact-mode="true"]:not([zen-single-toolbar="true"]) #PersonalToolbar {
      transform: translate(10px, -12px);
      position: relative !important;
      z-index: 3 !important;
    }
  
    :root[zen-compact-mode="true"]:not([zen-single-toolbar="true"]) #PersonalToolbar toolbarbutton {
      background-color: var(--arc-color) !important;
      border-radius: var(--arc-border-radius, 10px) !important;
      /* Optional: for better shape 
      transition: background-color 0.3s ease, box-shadow 0.2s ease-out !important;
    }
  }

  #PersonalToolbar {
    padding-bottom: 3px !important; */
/* Adjust value as needed 
  }

  #PersonalToolbar toolbarbutton:hover {
    background-color: var(--arc-color-hover) !important;
    box-shadow: 0 0px 3px light-dark(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.55)) !important;
    border-radius: var(--arc-border-radius, 10px) !important;
    transition: background-color 0.3s ease, box-shadow 0.2s ease-out !important;
  }
} 
*/

/* -------------------------- FINDBAR -------------------------- */
@media not (-moz-pref("arc-findbar-disable")) {
  @keyframes findbar-show-animation {
    from {
      opacity: 0;
      transform: scale(0.95);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  findbar {
    position: fixed !important;
    top: var(--arc-findbar-vertical, 50px) !important;
    right: var(--arc-findbar-horizontal, 25px) !important;
    height: var(--arc-findbar-breadth, 50px) !important;
    /* z-index: 1000 !important; */
    min-width: var(--arc-findbar-length, 850px) !important;
    display: flex !important;
    align-items: center !important;
    gap: 0 !important;
    padding: 10px !important;
    background: var(
      --arc-findbar-bg,
      light-dark(rgb(255 255 255 / 25%), rgb(0 0 0 / 25%))
    ) !important;
    backdrop-filter: blur(var(--arc-findbar-blur, 25px))
      saturate(var(--arc-findbar-saturate, 1))
      contrast(var(--arc-findbar-contrast, 1)) !important;
    border-radius: var(--arc-border-radius, 12px) !important;
    box-shadow: 0 4px 14px rgb(0 0 0 / 60%) !important;
    /* Useless? */
    /* will-change: transform, opacity; */
    border-top: 0 !important;
  }

  /* #zen-tabbox-wrapper::before {
    position: absolute !important;
    z-index: 0 !important;
    content: "" !important;
    background-color: light-dark(rgba(255, 255, 255, 1), rgba(40, 40, 40, 1)) !important;
    opacity: 0;
    width: 89%;
    filter: blur(0.1px) !important;
    top: 30px !important;
    right: 30px;
    height: 43px !important;
    bottom: auto !important;
    border-radius: calc(var(--arc-border-radius, 12px) + 1px);
    visibility: visible !important;
    transition: opacity 0.2s ease, width 0.5s ease !important;
  }
  
  :has(.browserSidebarContainer.deck-selected > .browserContainer > findbar:not([hidden])) #zen-tabbox-wrapper::before {
    opacity: 1 !important;
    width: 71.5%;
  }
  
  :has(.browserSidebarContainer.deck-selected > .browserContainer > findbar[hidden]) #zen-tabbox-wrapper::before {
    opacity: 0 !important;
    width: 71.5%;
  }
*/

  findbar:not[hidden] {
    visibility: visible !important;
    animation: findbar-show-animation 0.3s ease-out forwards !important;
  }

  findbar[hidden] {
    opacity: 0 !important;
    transform: scale(0.95) !important;
    pointer-events: none !important;
    visibility: hidden !important;
    transition:
      opacity 0.2s ease,
      transform 0.2s ease,
      visibility 0s linear 0.2s !important;
  }

  .findbar-textbox {
    flex-grow: 1 !important;
    min-width: 230px !important;
    background: transparent !important;
    color: inherit !important;
    border: none !important;
    outline: none !important;
    font-size: 13px !important;
    padding: 4px 10px !important;
    box-shadow: none !important;
  }

  findbar toolbarbutton {
    background: light-dark(rgb(255 255 255 / 25%), rgb(0 0 0 / 25%)) !important;
    border-radius: 8px !important;
    transition:
      background 0.2s ease,
      transform 0.1s ease-out !important;
  }

  findbar .findbar-find-previous,
  findbar .findbar-find-next {
    align-self: center;
    width: 20px !important;
    height: 21px !important;
    padding: 2px !important;
    font-size: 10px !important;
  }

  .findbar-find-previous {
    margin-right: 5px !important;
  }

  findbar .findbar-close {
    width: 18px !important;
    height: 18px !important;
    padding: 2px !important;
    font-size: 10px !important;
    margin-left: auto !important;
  }

  findbar toolbarbutton:hover {
    background: light-dark(rgb(255 255 255 / 50%), rgb(0 0 0 / 50%)) !important;
    transform: scale(1.05) !important;
  }

  findbar toolbarbutton:active {
    transform: scale(0.9) !important;
  }
}

/* -------------------------- BOOKMARKS -------------------------- */

/* Transparent Sidebar Items */
.sidebar-panel {
  background: transparent !important;
  font-weight: 600 !important;
  opacity: 0.25 !important;
}

/* Clean & Transparent Sidebar Box */
#sidebar-box {
  background-color: var(
    --arc-other-sidebar-bg,
    light-dark(rgb(255 255 255 / 25%), rgb(0 0 0 / 25%))
  ) !important;
  border: none !important;
}

#sidebar-box #sidebar-header {
  border-bottom: none !important;
}

/* Transparent Sidebar Search Box & View Button */
#sidebar-search-container > #search-box,
#viewButton {
  padding: 4px 8px !important;
  appearance: none !important;
  background-color: transparent !important;
  border-radius: var(--arc-border-radius, 12px) !important;
  border: none !important;
}

#sidebar-search-container > #search-box:hover,
#viewButton:hover,
#sidebar-search-container > #search-box:active,
#viewButton:active {
  background-color: light-dark(
    rgb(255 255 255 / 25%),
    rgb(0 0 0 / 25%)
  ) !important;
}
